[submodule "vkguide-tutorial/thirdparty/vk-bootstrap"]
	path = vkguide-tutorial/thirdparty/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "vkguide-tutorial/thirdparty/stb"]
	path = vkguide-tutorial/thirdparty/stb
	url = https://github.com/nothings/stb
[submodule "vkguide-tutorial/thirdparty/VulkanMemoryAllocator-Hpp"]
	path = vkguide-tutorial/thirdparty/VulkanMemoryAllocator-Hpp
	url = git@github.com:efyang/VulkanMemoryAllocator-Hpp
[submodule "vkguide-tutorial/thirdparty/tinyobjloader"]
	path = vkguide-tutorial/thirdparty/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "vkguide-tutorial/thirdparty/vulkan-guide"]
	path = vkguide-tutorial/thirdparty/vulkan-guide
	url = https://github.com/vblanco20-1/vulkan-guide
	branch = starting-point
[submodule "vkguide-tutorial/thirdparty/OpenGL"]
	path = vkguide-tutorial/thirdparty/OpenGL
    url = https://github.com/McNopper/OpenGL

[submodule "vulkan-ngp-nerf/thirdparty/vk-bootstrap"]
	path = vulkan-ngp-nerf/thirdparty/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "vulkan-ngp-nerf/thirdparty/stb"]
	path = vulkan-ngp-nerf/thirdparty/stb
	url = https://github.com/nothings/stb
[submodule "vulkan-ngp-nerf/thirdparty/VulkanMemoryAllocator-Hpp"]
	path = vulkan-ngp-nerf/thirdparty/VulkanMemoryAllocator-Hpp
	url = git@github.com:efyang/VulkanMemoryAllocator-Hpp
[submodule "vulkan-ngp-nerf/thirdparty/tinyobjloader"]
	path = vulkan-ngp-nerf/thirdparty/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader
[submodule "vulkan-ngp-nerf/thirdparty/vulkan-guide"]
	path = vulkan-ngp-nerf/thirdparty/vulkan-guide
	url = https://github.com/vblanco20-1/vulkan-guide
	branch = starting-point
[submodule "vulkan-ngp-nerf/thirdparty/OpenGL"]
	path = vulkan-ngp-nerf/thirdparty/OpenGL
	url = https://github.com/McNopper/OpenGL
[submodule "vulkan-ngp-nerf/instant-ngp"]
	path = vulkan-ngp-nerf/instant-ngp
	url = git@github.com:efyang/instant-ngp
